<main class="container">
  
  <div class="hero is-small is-link">
    <header class="hero-body">
      <h1 class="title is-1">Products</h1>
      <h3 class="subtitle is-3">Add, remove, edit or browse your products</h3>
    </header>
  </div>

  <article class="container">
    <p id="notice"><%= notice %></p>
    <section class="notification">
      <table class="table is-narrow is-hoverable is-fullwidth">
        <thead>
          <th>ID</th>
          <th>Name</th> 
          <th>Price</th>
          <th>Quantity</th>
          <th>Actions</th>
        </thead>

        <tbody>
          <% @products.each do |product| %>
            <tr>
              <td><%= product.id %></td>
              <td><%= product.name %></td>
              <td><%= product.price %></td>
              <td><%= product.quantity %></td>
              <td>
                <section class="buttons are-small">
                  <button class="button is-info"><%= link_to 'Show', product %></button>
                  <button class="button is-warning"><%= link_to 'Edit', edit_admin_product_path(product) %></button>
                  <button class="button is-danger"><%= link_to 'Delete', product, method: :delete, data: { confirm: 'Are you sure?' } %></button>
                </section>
              </td>
            </tr>
          <% end %>
        </tbody>

        <tfoot>
          <th>ID</th>
          <th>Name</th> 
          <th>Price</th>
          <th>Quantity</th>
          <th>Actions</th>
        </tfoot>
      </table>
      <button class="button is-big is-success">
        <%= link_to 'Add New Product', new_admin_product_path %>
      </button>
    </section>
  </article>

</main>